body {
  margin: 0;
  font-family: 'Kaushan Script', cursive;
  background: #001220;
  color: #DCF2F1;
  font-weight: 500;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  min-width: 300px;
  padding: 100px 20vw;
}

h1 {
  font-size: 4rem;
  margin: 20px;
}

p {
  font-family: 'Indie Flower', cursive;
  margin: 20px;
  font-weight: 600;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 40px;
}

.arrow {
  position: absolute;
  width: 125px;
  transform: translate(-100%, 25%);
}

a {
  color: #DCF2F1;
}

a:hover {
  color: #0F1035;
}

.title>p {
  font-size: 2.5rem;
  text-align: center;
}

.greet {
  font-size: 3rem;
  margin-bottom: 0;
  color: #DCF2F1;
  text-shadow: #001220 4px 0 10px;
}

.avatar,
.testimonial>.quote,
.testimonial>.greet {
  position: relative;
}

.quote {
  max-width: 650px;
  font-size: 1.7rem;
  color: #DCF2F1;
  text-align: justify;
  text-align-last: center;
  text-shadow: #001220 2px 0 5px;
}

.contrast {
  background: #7FC7D9;
  color: #0F1035;
}

.spacer {
  aspect-ratio: 960 / 180;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wave1 {
  background-image: url('./assets/img/wave1.svg');
}

.wave2 {
  background-image: url('./assets/img/wave2.svg');
}

.blob {
  position: absolute;
  transform: translateY(-33%);
}

.projects>h1,
.about>h1 {
  font-family: 'Itim', cursive;
  font-size: 4rem;
  margin-bottom: 150px;
}

.contact>h1 {
  font-size: 2.2rem;
}

.contact>p {
  font-weight: 200;
  font-size: 1.2rem;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 60px;
}

.card {
  min-width: 350px;
  max-width: 400px;
  border-radius: 20px;
  background: #283d63;
  /* color: #001220; */
}

.card>.card-text, 
.grid-container>.card-text{
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: justify;
}

.card>.card-text {
  padding: 0 30px 20px;
}

.card>.card-title {
  padding: 10px 30px 5px;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.card>.tile-image {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  border-bottom: #001220 solid 7px;
}

.about>.card {
  max-width: 650px;
}

.grid-container {
  display: grid;
  background: #60aac7;
  border-radius: 20px;
  grid-template: auto auto / minmax(150px, 200px) minmax(400px, 600px);
  margin-bottom: 50px;
  gap: 10px;
}

.grid-container>.tile-image {
  grid-area: 1 / 1 / 3 / 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px 0 0 18px;
  border-right: #7FC7D9 solid 10px;
}

.grid-container>.card-title,
.grid-container>.card-text {
  margin: 0;
  padding: 0 20px;
  font-family: "Poppins", sans-serif;
}

.grid-container>.card-title {
  padding-top: 10px;
}

.grid-container>.card-text {
  padding-bottom: 20px;
}

.contact {
  min-height: 200px;
  padding: 0;
}

.contact>p {
  margin: 0 0 20px 0;
  width: 80%;
  text-align: center;
}

.contact * {
  font-family: "Poppins", sans-serif;
}

.media {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.at {
  font-weight: 200;
  text-align: center;
  margin: 20px;
  width: 30%;
}

.media img {
  width: 40px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
    text-align: center;
  }

  .title>p {
    font-size: 1.5rem;
  }

  .greet {
    font-size: 2.5rem;
  }

  .quote {
    font-size: 1.3rem;
    margin-top: 35px;
  }

  .arrow {
    width: 110px;
    transform: translate(-95%, 35%);
  }

  .title>p,
  .quote {
    text-align: justify;
    text-align-last: center;
  }

  .spacer {
    aspect-ratio: 960 / 540;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .card {
    max-width: 470px;
  }

  .grid-container {
    grid-template: 300px auto auto / minmax(400px, 600px);
    margin-bottom: 50px;
    gap: 10px;
  }
  
  .grid-container>.tile-image {
    border-radius: 20px 20px 0 0;
    border-bottom: #7FC7D9 solid 7px;
    height: 300px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .title>p {
    font-size: 2rem;
  }

  .quote {
    font-size: 1.3rem;
  }

  .title>p,
  .quote {
    text-align: justify;
    text-align-last: center;
  }

  .spacer {
    aspect-ratio: 960 / 240;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .card {
    max-width: 450px;
  }

  .grid-container {
    grid-template: 300px auto auto / minmax(400px, 600px);
    margin-bottom: 50px;
    gap: 10px;
  }
  
  .grid-container>.tile-image {
    border-radius: 20px 20px 0 0;
    border-bottom: #7FC7D9 solid 7px;
    height: 300px;
  }
}